<html>
<head>
<link rel="stylesheet" href="styles.css">
<title>Gan Shmuel</title>
</head>
<body>

<h1>Weight Page</h1>
<ul>
        <a href="http://green.develeap.com:8080/weight">    <li>/weight</li> </a>
        <a href="http://green.develeap.com:8080/unknown"> <li>unknown</li>  </a>
        <a href="http://green.develeap.com:8080/session/10001"> <li>/session/10001</li>  </a>
        <a href="http://green.develeap.com:8080/health"> <li>health</li>  </a>
        <li>do it yourself:</li>
        <li>weight?from=t1&to=t2&filter=f do it yourself</li>
        <li>item/id?from=t1&to=t2</li>
        <li>batch-weight</li>

</ul> 
<!-- <img src="" alt="mans not hot">  -->
</body>
</html> 
