<HTML>
<BODY bgcolor="cyan">
<form method="POST" action="">
    <center>
    <H1>Enter your details </H1> <br>
    Direction in/out/none <input type = "text" name= "direction" /> <br>
    TruckID <input type = "text" name= "truckid" /> <br>
    Containers str1,str2 <input type = "text" name = "containers" /> <br>
    Weight <input type = "text" name = "weight" /> <br>
    Unit kg/lbs <input type = "text" name = "unit" /> <br>
    Force 1/0 <input type = "text" name = "forc" /> <br>
    Produce <input type = "text" name = "produce" /> <br>
    <input type = "submit">
    </center>
</form>
</BODY>
</HTML>

