<html>
<head>
<link rel="stylesheet" href="styles.css">
<title>Gan Shmuel</title>
</head>
<body>

<h1>Provider Page</h1>
<ul>
        <a href="http://green.develeap.com:8090/rates">    <li>rates</li> </a>
        <a href="http://green.develeap.com:8090/batch-weight"> <li>batch-weight</li>  </a>
        <a href="http://green.develeap.com:8090/health"> <li>health</li>  </a>
        <li>do it yourself:</li> 
        <li>truck/<id>?from=t1&to=t2</li> 
        <li>/bill/<id>?from=t1&to=t2</li>  
</ul> 
</body>
</html>