body {
    background-color: #ffffff;
    background-position: top;
    background-repeat: no-repeat;
}

h1 {
    color: rgb(48, 105, 39);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 64pt;
    font-weight: 900;
    margin-top: 180px;
    margin-bottom: 190px;
    text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40pt;
    font-weight: 900;
    color: #3F88C5;
    margin-top: 60px;
    margin-bottom: 40px;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36pt;
    font-weight: 900;
    color: #3F88C5;
    margin-top: 40px;
    margin-bottom: 40px;
}